header {
  position: sticky;
  top: 0;
  z-index: 10;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8px 48px;
  background-color: var(--color-header-bg);
  border-bottom: var(--color-border) 1px solid;

  & a {
    color: inherit;
    text-decoration: none;
  }

  & > .username {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & > h1 {
    font-size: 28px;
    font-weight: bold;
    will-change: transform;
    transition: transform 0.2s ease-in-out;
    
    &:hover {
      transform: scale(1.05);
    }

    & span {
      color: var(--color-accent);
    }
  }

  & > .nav-links {
    display: flex;
    gap: 16px;
  }
}

.nav-link {
  font-size: 18px;
  font-weight: 500;
  padding: 6px 12px;
  will-change: transform;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &.new-message {
    color: var(--color-accent-2);
  }

  &.auth {
    color: var(--color-success);
  }

  &.join {
    color: var(--color-accent);
  }

  &.logout {
    color: var(--color-danger);
  }
}