body {
  align-items: center;
  background-color: #f4f4f4;
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
  height: 100vh;
  justify-content: space-evenly;
  margin: 0;
}

#div-input {
  align-items: center;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5%;
  box-shadow: 0px 0px 10px 5px gray;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
}

#div-input h1 {
  margin: 0px 8px;
}

#div-input p {
  margin: 0px 8px;
  width: fit-content;
}

#mode {
  display: flex;
  gap: 16px;
}

button {
  background-color: white;
  border: 2px solid gray;
  border-radius: 10%;
}

button:hover {
  background-color: #ddd;
}

#grid {
  background-color: white; /* añadido: fondo blanco para la cuadrícula */
  border: 1px solid black;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  height: 95vh;
  width: 95vh;
}

.row {
  align-items: stretch;
  border: 0px solid black;
  display: flex;
  flex: 1;
}

.cell {
  border: 1px solid #ddd; /* modificado: color más suave */
  flex: 1;
}
