/* styles.css */

/* * {
  border: 1px solid black;
} */

body {
  align-items: center;
  background-color: #f7f7f7;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  gap: 16px;
  height: 100vh;
  margin: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  margin: 16px 0 0;
  color: #2d2d2d;
}

#calculator-div {
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 2px solid #444;
  border-radius: 16px; 
  display: flex;
  height: 80vh;
  flex-direction: column;
  width: 25vw;
}

#display {
  align-items: center;
  background-color: #374151;
  border-radius: 12px 12px 0 0;
  color: #f3f4f6;
  display: flex;
  flex: 1 1 auto;
  gap: 5px;
  height: 10vh;
  justify-content: end;
  padding: 5px 10px;
}

#display div {
  flex: 0 1 fit-content;
  font-size: 48px;
}

#menu {
  border-top: none;
  display: flex;
  flex-direction: column;
  flex: 5 5 auto;
  padding: 4px;
}

.row {
  display: flex;
  flex: 1;
}

#menu button {
  flex: 1;
  margin: 2px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-weight: 500;
}

#menu button.number {
  background-color: #f3f4f6;
  color: #1f2937;
}

#menu button.number:hover {
  filter: brightness(95%);
}

#menu button.operator {
  background-color: #e5e7eb;
  color: #374151;
}

#menu button.operator:hover {
  filter: brightness(92%);
}

#menu button#ac {
  background-color: #fcd34d;
  color: #374151;
}

#menu button#equals:hover,
#menu button#ac:hover {
  filter: brightness(90%);
}

#footer {
  align-items: center;
  background-color: #f1f5f9;
  display: flex;
  font-family: "Open Sans", sans-serif;
  gap: 16px;
  justify-content: center;
  padding: 16px;
  width: 100%;
  color: #475569;
}
