body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem 1rem;
  border: 2px solid black;

  &:visited {
    color: inherit;
  }
}