@font-face {
  font-family: 'Norse';
  src: url('assets/fonts/Norse-Bold.woff2') format('woff2'),
      url('assets/fonts/Norse-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  --fnt-fmly: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --fnt-clr: #505050;
  --lbl-fnt-clr: #454e59;
  background-color: #f9fafb;
}

div {
  width: calc(100vw - 38vw);
}

h2, p, button {
  font-family: var(--fnt-fmly);
}

span{
  font-style: italic;
}

div#img {
  position: relative;
  height: 170vh;
  width: 38vw;

  background-image: url(assets/imgs/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

div#img > h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: relative;
  top: 13rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);

  color: white;
  font-family: Norse, sans-serif;
  font-size: 5rem;
  text-align: center;
}

div#img > p {
  position: absolute;
  bottom: 10px;

  width: 100%;
  text-align: center;
}

div#img > p,
div#img > p > a:link,
div#img > p > a:visited {
  color: white;
  font-size: 0.9rem;
}

div#content {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

div#content > div#titles > h2 {
  font-size: 1.5rem;
}

div#content > div:first-child{
  padding: 9rem 9rem 4rem 3rem;
}

div#content > div {
  width: 100%;
}

div#content > form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 5rem;
}

div#content > form > div#form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 1rem 0 2rem 3rem;
  border: 1px solid aliceblue;
  box-shadow: 0 0.25rem 0.25rem #DDDDDD ;
  background-color: #ffffff;
}

div#content > form > div#form > div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}

div#content > form > div#form > h2,
div#content > p{
  color: var(--fnt-clr);
}

div#content > form > div#form > div > div {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

div#content label {
  font-family: var(--fnt-fmly);
  font-size: 0.6rem;
  letter-spacing: 0.15rem;
  font-weight: bold;
  color: var(--lbl-fnt-clr);
}

input {
  width: 60%;
  border: 1px solid #E5E7EB;
  border-radius: 0.3rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
  font-family: var(--fnt-fmly);
  color: black;
}

input:user-invalid {
  border: 1px solid red;
}

input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 0.1rem 0.1rem 0.25rem rgba(0, 0, 0, 0.3);
}

button {
  width: fit-content;
  padding: 0.75rem 2.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0 2rem 3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #596D48;
  color: white;
  box-shadow: 0.1rem 0.1rem 0.25rem rgba(0, 0, 0, 0.3);
}

button:active {
  background-color: #4C5C3D;
}

div#content > p#sign-in {
  margin: 0 0 0 3rem;
  gap: 32px;
  font-weight: bold;
}

div#content > p#sign-in > a {
  text-decoration: none;
  color: #596D48;
}