* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

body > * {
  border: 1px solid black;
}

.cell {
  border: 1px solid black;
  height: 5rem;
  width: 5rem;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 12px;
}