@font-face {
  font-family: 'Norse';
  src: url('assets/fonts/Norse-Bold.woff2') format('woff2'),
      url('assets/fonts/Norse-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  --fnt-fmly: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div {
  width: calc(100vw - 38vw);
}

h2, p, button {
  font-family: var(--fnt-fmly);
}

span{
  font-style: italic;
}

div#img {
  position: relative;
  height: 170vh;
  width: 38vw;

  background-image: url(assets/imgs/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

div#img > h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: relative;
  top: 13rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);

  color: white;
  font-family: Norse, sans-serif;
  font-size: 5rem;
  text-align: center;
}

div#img > p {
  position: absolute;
  bottom: 10px;

  width: 100%;
  text-align: center;
}

div#img > p,
div#img > p > a:link,
div#img > p > a:visited {
  color: white;
  font-size: 0.9rem;
}

div#content {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

div#content > div:first-child{
  padding: 9rem 9rem 5rem 3rem;
}

div#content > div {
  width: 100%;
}

div#content > div#form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid aliceblue;
  box-shadow: 0 0.25rem 0.25rem lightblue ;
  padding: 0 0 3rem 3rem;
}

div#content > div#form > form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 5rem;
}

div#content > div#form > form > div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}

div#content > div#form > form > div > div {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

div#content label {
  font-family: var(--fnt-fmly);
  font-size: 0.6rem;
  letter-spacing: 0.15rem;
}

input {
  width: 60%;
}

div#content > div#sign-in {
  padding: 2rem 0 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

div#content > div#sign-in > button {
  width: fit-content;
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
}

