/* user-client/src/index.css */
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}