.item {
  background-color: #404040;
  padding: 12px 20px;
  border-radius: 12px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;

  & img {
    width: 120px;
    padding: 16px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
  }

  & input {
    width: 2rem;
    text-align: center;
    appearance: textfield;
  }

  & > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
}