<link rel="stylesheet" href="/styles/base.css">
<header>
  <p>Management</p>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/staff">Staff</a></li>
      <li><a href="/genres&roles">Roles & Genres</a></li>
    </ul>
  </nav>
</header>