<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Mini Message Board</title>
</head>
<body>
  <div>
    <% messages.forEach((message) => { %>
      <div class="message">
        <img src="<%= users.find(user => user.id === message.userId).pic %>" alt="<%= message.user %>">
        <p><%= message.text %></p>
        <p><%= message.added %></p>
      </div>
    <% }); %>
  </div>
  <form action="/new" method="POST">
    <input type="text" placeholder="Write a message" name="text" required>
    <button type="submit">
      Send
    </button>
  </form>
</body>
</html>