@import url('./vars.css');

.form-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  padding: 12px 28px 20px;
  border: var(--color-border) 1px solid;
  border-radius: 16px;
  background-color: var(--color-surface);
  margin-block: 24px;
  width: 600px;
  max-width: 600px;
}

.form-section {
  display: flex;
  flex-direction: column;
}

.form-title {
  align-self: center;
  font-size: 28px;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;

  & > label {
    font-size: 18px;
    font-weight: 500;
  }

  & > input,
  & > textarea {
    padding: 8px 12px;
    font-size: 16px;
    border: var(--color-border) 1px solid;
    border-radius: 8px;
    background-color: var(--color-bg);
    color: var(--color-text);
  }

  & > textarea {
    resize: vertical;
    min-height: 180px;
  }
}

.actions {
  align-self: end;
}

.btn {
  cursor: pointer;
  height: 40px;
  align-self: end;
  font-size: 18px;
  padding: 8px 12px;
  border: var(--color-border) 2px solid;
  border-radius: 8px;
  background-color: var(--color-bg);
  color: var(--color-text);
  text-decoration: none;
  line-height: 1;
}