.container {
  padding: 32px;

  display: flex;
  gap: 32px;
}

.itemsContainer {
  flex: 3;

  display: flex;
  flex-direction: column;
  gap: 8px;

  background-color: #303030;
  padding: 24px;
  border-radius: 8px;
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.75);
}

.item {
  background-color: #404040;
  padding: 12px 20px;
  border-radius: 12px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;

  & img {
    width: 120px;
    padding: 16px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
  }

  & input {
    width: 2rem;
    text-align: center;
    appearance: textfield;
  }

  & > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
}

.details {
  flex: 0;
  max-width: 400px;

  height: fit-content;
  background-color: #303030;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.75);

  display: flex;
  flex-direction: column;
  gap: 8px;

  & > p:last-child {
    border-top: 1px solid #505050;
    margin-top: 8px;
    padding-top: 8px;
    text-align: end;
  }
}