.container {
  padding: 32px;

  display: flex;
  gap: 32px;
}

.itemsContainer {
  flex: 3;

  display: flex;
  flex-direction: column;
  gap: 8px;

  background-color: #303030;
  padding: 24px;
  border-radius: 8px;
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.75);
}

.pricing {
  flex: 0;
  max-width: 400px;

  height: fit-content;
  background-color: #303030;
  padding: 32px 28px;
  border-radius: 12px;
  border: 1px solid #444;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.85);

  display: flex;
  flex-direction: column;
  gap: 16px;

  & > p:last-child {
    border-top: 2px solid #505050;
    margin-top: 16px;
    padding-top: 16px;
    text-align: end;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
}