.productCard {
  border: 1px solid var(--color-border, #ccc);
  border-radius: 8px;
  background-color: #0f0f0f;
  will-change: box-shadow;
  transition: box-shadow 0.2s ease;
  overflow: hidden;

  /* animation: fadeIn 1s ease-in-out; */

  /* Not supported by firefox */
  animation: fadeIn linear both;
  animation-timeline: view();
  animation-range: entry 7.5% cover 25%;

  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0 0 12px #f0f0f0;
  }

  & > img {
    aspect-ratio: 1 / 1;
    object-fit: contain;
    padding: 1rem;
    background-color: #e0e0e0;
  }

  & > button {
    margin: 0 16px 16px;
    padding-block: 4px;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #ddd;
    }
  }
}

.info {
  border-top: 1px solid var(--color-border, #ccc);
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  & > p:first-child {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-wrap: balance;
    text-overflow: ellipsis;
  }

  & > p:last-child {
    flex-shrink: 0;
  }
}

.actions {
  max-width: 100%;
  margin-top: auto;
  padding: 0 1rem 1rem;

  display: flex;
  flex-direction: row;
  gap: 8px;

  & input {
    flex: 1;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-width: 0;
    appearance: textfield;
    text-align: center;
  }

  & > button {
    aspect-ratio: 1 / 1;
    background-color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    &:hover{
      background-color: #ddd;
    }
  }
}

@-moz-document url-prefix() {
  .productCard {
    animation: fadeIn 1s ease-in-out;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}