dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1000;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.dialog-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  gap: 12px;

  & > * {
    padding: 4px 8px;
    border: none;

    &:first-child {
      background-color: #4CAF50;
      color: white;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #45a049;
      }
    }

    &:last-child {
      background-color: #f44336;
      color: white;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #da190b;
      }
    }
  }
}