/* menu.css */

.menu-container { 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.categories-nav ul {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  gap: 0.5rem;
}

.categories-nav input {
  display: none;
}

.checkbox-label {
  transition: background-color 0.25s;
  padding: 0.5rem 1rem;
}

.checkbox-input:checked + .checkbox-label {
  background-color: gray;
}

.categories-nav li {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.menu-categories {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.menu-category {
  border: 1px solid black;
  border-radius: 1rem;
  overflow: hidden;
}

.menu-category > h2 {
  text-align: center;
  background-color: aliceblue;
  padding: 0.5rem 1rem;
}

.menu-category > .menu-item {
  padding-block: 0.5rem;
  padding-inline: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-item > div {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.menu-item > p {
  font-weight: 700;
  font-size: 1.2rem;
}