body {
  --border-color: #3D444D;
  --bg-primary-color: #010409;
  --bg-secondary-color: #0D1117;
  --bg-tertiary-color: #151B23;
  --font-color: #E9EFF5;
  --font-color-muted: #858B95;

  --font-color-red: #F85149;
  --font-color-red-muted: #8E1519;
  --font-color-blue: #2F81F7;
  --font-color-blue-muted: #1C5ED6;
  --font-color-green: #3FB950;
  --font-color-green-muted: #1F8A3E;


  background-color: var(--bg-primary-color);
  color: var(--font-color);
  min-height: 100dvh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  & > main {
    flex: 1;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 12px 20px;
  }

  & * {
    background-color: inherit;
    color: inherit;
  }
}