.item {
  background-color: #404040;
  border-radius: 12px;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  & img {
    height: 100%;
    width: 120px;
    padding: 16px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    background-color: #e0e0e0;
  }

  & input {
    width: 2rem;
    text-align: center;
    appearance: textfield;
  }

  & > div:nth-child(2) {
    padding: 12px 20px;

    & > p:first-child {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 8px;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & > p:last-child {
      text-wrap: balance;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  & > div:last-child {
    margin-right: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    & > button {
      background-color: white;
      border: none;
      border-radius: 4px;
      aspect-ratio: 1 / 1;

      &:hover {
        background-color: #ddd;
      }
    }

    & > input {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      background-color: white;
      border: none;
      aspect-ratio: 1 / 1;
    }
  }
}

@media (max-width: 768px) {
  .item {
    flex-direction: column;
    gap: 0;

    & img {
      width: 100%;
      height: auto;
    }

    & > div:nth-child(2) {
      
      & p {
        text-align: center;
      }

      & > p:first-child {
        text-wrap: balance;
        -webkit-line-clamp: 2;
      }

      & > p:last-child {
        -webkit-line-clamp: unset;
        text-align: justify;
      }
    }

    & > div:last-child {
      margin-right: 0;
      margin-bottom: 12px;
      display: grid;
      grid-template-columns: repeat(3, auto);

      & > button:first-child {
        grid-column: 3;
        grid-row: 1;
      }

      & > input {
        grid-column: 2;
        grid-row: 1;
      }

      & > button:last-child {
        grid-column: 1;
        grid-row: 1;
      }
    }
  }
}