.container { 
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.hero {
  --margin-sides: 10rem;
  margin-inline: var(--margin-sides);
  padding-block: 4rem;

  & > *{
    animation: slideIn 1s ease-in-out;
  }

  & > div:first-child {
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  & > p:nth-child(2) {
    width: 40%;
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  & > a:last-child {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border: 2px solid white;
    border-radius: 24px;
    background-color: #fff;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    &:visited, &:link {
      text-decoration: none;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.imageGrid {
  margin-bottom: 5rem;
  padding: 6dvw 2dvw;
  border-radius: 64px;
  background-color: var(--secondary-bg-color);

  /* animation: fadeIn 1s linear; */

  /* Not supported by firefox */
  animation: fadeIn linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 25%;

  display: grid;
  grid-template-columns: repeat(4, 20dvw);
  grid-template-rows: repeat(5, 20dvw);
  justify-content: center;
  gap: 3rem;

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;

    /* Not supported by firefox */
    animation: revealImage ease-in-out both;
    animation-timeline: view();
    animation-range: entry 10% cover 20%
  }

  & > div :hover {
    box-shadow: 0 0 12px white;
  }

  & > div:first-child {
    grid-column: 1 / 4;
  }

  & > div:nth-child(2) {
    grid-column: 4;
    grid-row: 1 / 3;
  }

  & > div:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  & > div:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  & > div:nth-child(5) {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  & > div:nth-child(6) {
    grid-column: 2;
    grid-row: 3 / 5;
  }

  & > div:nth-child(7) {
    grid-column: 4;
    grid-row: 3;
  }

  & > div:nth-child(8) {
    grid-column: 1;
    grid-row: 4 / -1;
  }

  & > div:nth-child(9) {
    grid-column: 3 / -1;
    grid-row: 4;
  }

  & > div:last-child {
    grid-column: 2 / -1;
    grid-row: 5;
  }
}


@-moz-document url-prefix() {
  .imageGrid {
    animation: fadeIn 1s linear;

    & img {
      animation: none;
    }
  }
}


@media (max-width: 768px) {
  .hero {
    margin-inline: 2rem;

    & > div:first-child {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    & > p:nth-child(2) {
      width: 100%;
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
  }

  .imageGrid {
    padding: 2rem 1.5rem;
    border-radius: 32px;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes revealImage {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(calc(-105% - var(--margin-sides)));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}