@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.woff2') format('woff2'),
        url('assets/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --primary-color: #38040E;
  --secondary-color: #640D14;
  --bg-color: #AD2831;
  --card-left-border-color: #250902;
  --font-color: #D8E2DC;
  --li-hover-color: 0 0 1rem red;
}

/* START */

* {
	margin: 0;
	box-sizing: border-box;
}

html,body {
  height: 100vh;
}

p, h1, button {
  font-family: Roboto;
  color: var(--font-color);
}

h1 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  font-weight: bold;
}

button {
  font-weight: bold;
}

img[src$=".svg"] {
  height: 1.5rem;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

.container {
  min-height: 100dvh;
	display: grid;
	grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
	grid-template-areas:
		"sidebar header"
		"sidebar dashboard"
}




/* ############### */
/* ### SIDEBAR ### */
/* ############### */

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: start;
  gap: 3rem;
	padding: 1rem 0.5rem;
  background-color: var(--primary-color);
	grid-area: sidebar;
}

.sidebar li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1.2rem;
}

.sidebar > .menu > ul,
.sidebar > .user-options > ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sidebar li > p {
  font-size: 1.5rem;
}

.sidebar li:hover {
  cursor: pointer;
}

.sidebar li:hover > p{
  text-shadow: var(--li-hover-color);
}

.sidebar li:hover img {
  filter: drop-shadow(var(--li-hover-color));
}

.sidebar > .logo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.logo > p {
  font-size: 2rem;
}

.sidebar .img {
  height: fit-content;
  width: 3rem;
}

.logo img {
  height: 3rem;
}

.menu .img,
.user-options .img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar > .user-options{
  margin-top: auto;
}





/* ############## */
/* ### HEADER ### */
/* ############## */

.header {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
  background-color: var(--secondary-color);
  box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.55);
  position: relative;
	grid-area: header;
}

.header img[alt="bell-ring-outline"] {
  cursor: pointer;
}

.header > div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.75rem 3.5rem;
}

.header > div > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.header input {
  width: 100%;
  height: 2rem;
  border-radius: 16px;
  padding: 0 16px;
  border: none;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.header input:focus {
  outline-style: none;
  border: 2px solid var(--font-color);
}

.header > .search-profile > div:first-child {
  flex: 2;
  margin-right: 10rem;
}

.header > .search-profile > div:last-child {
  flex: 1;
}

.search-profile img[alt="profile-pic"] {
  border-radius: 50%;
  height: 2rem;
}

.header > .greetings-options > div > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.header > .greetings-options > div > div > p:first-child {
  font-size: 0.8rem;
}

.greetings-options> div:first-child > img {
  height: 3rem;
}

.greetings-options> div:last-child > button {
  display: inline-flex;
  padding: 0.7rem 2rem;
  width: 100px;
  border-radius: 2rem;
  background-color: var(--primary-color);
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.greetings-options button:hover {
  box-shadow: 0 0 1rem var(--secondary-color);
  transform: translateY(-0.1rem);
  transition: all 0.1s ease;
}

.greetings-options > div > img[alt="profile-pic"] {
  height: 3.5rem;
  border-radius: 50%;
}





/* ################# */
/* ### DASHBOARD ### */
/* ################# */

.dashboard {
	display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  align-items: start;
  background-color: var(--bg-color);
	grid-area: dashboard;
}

.dashboard > .projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
  grid-column: 1 / 3;
}

.projects > h1 {
  grid-column: 1 / -1;
}

.projects > div {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 12px;
  border-left: 12px solid var(--card-left-border-color) ;
  background-color: var(--secondary-color);
}

.projects > div:hover {
  box-shadow: 0 0 1rem var(--secondary-color);
  transform: translateY(-0.2rem);
  transition: all 0.1s ease;
}

.projects img[src$="webp"] {
  margin-top: 0.5rem;
  width: 100%;
  height: clamp(120px, 25vh, 200px);
  object-fit: cover;
  object-position: top;
  border-radius: 5%;
}

.projects img[alt="odin-recipes"] {
  object-position: top left;
}

img[alt="star-plus-outline"] {
  margin-left: auto;
}

.projects > div > div {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
}



.dashboard > .announcements-trending {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 1.5rem 0.5rem 0;
  grid-column: 3 / 4;
}

.announcements-trending > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.announcements-trending > div > div {
  border-radius: 16px;
  background-color: var(--secondary-color);
}

.announcements > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0rem;
}

.announcements > div > div {
  padding-right: 1.5rem;
  padding-left: 2rem;
}

.announcements > div > div > p:first-child {
  font-size: 0.9rem;
  font-weight: 600;
}

.announcements > div > div > p:last-child {
  font-size: 0.75rem;
  font-weight: 500;
}

.trending > div {
  padding: 0.6rem;
}

.trending > div > div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.trending > div > div > img {
  height: 2.75rem;
  border-radius: 50%;
}

.trending > div > div > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3rem;
}

.trending > div > div > div > p {
  font-size: 0.8rem;
}

.trending > div > div > div > p:last-child {
  font-weight: 500;
}