<%- include('../partials/header', { user }) %>
<p>Views: <%= views %></p>
<p>User: <%= user ? `${user.first_name} ${user.last_name}` : 'Guest' %></p>
<% if (user) { %>
  <a href="/new-message">New Message</a>
<% } %>