/* reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* base styles */

:root {
  --primary-bg-color: #151515;
  --secondary-bg-color: #1e1e1e;
  --primary-text-color: #f5f5f5;

  color: var(--primary-text-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

header {
  flex: 0 0 auto;

  width: 100%;
  padding: 16px 0;
  background-color: var(--secondary-bg-color);
  position: fixed;
  top: 0;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;

  & > nav > ul {
    list-style: none;
    padding-left: 0;

    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}

main {
  flex: 1 0 auto;

  margin-top: 56px;
  background-color: var(--primary-bg-color);
}