main > h1 {
  padding: 8px 16px;
  border-bottom: 5px solid #ccc;
}



/* Detail Section */

.section-title {
  font-size: 1.5rem;
  margin-block: 16px 8px;
}

.manga-details {
  font-size: 1.1rem;
  margin-block: 16px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.description {
  font-size: 1.25rem;
}



/* Staff Section */

.staff-member {
  background-color: #1c1c1c;
  padding: 16px 32px;
  margin-block: 8px;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
 

  & > p:first-child,
  & > a:last-child {
    padding: 8px 16px;
    background-color: #3c3c3c;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
  }

  & > a:last-child {
    transition: background-color 0.1s;
    &:hover {
      background-color: #555;
    }
  }
}



/* Tags Section */

.tags {
  padding: 16px 32px;
  background-color: #1c1c1c;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  padding: 6px 16px;
  border-radius: 12px;
  background-color: #3c3c3c;
  color: var(--primary-text-color);
  text-decoration: none;
}



/* Actions Section */

.actions {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.back-to-list {
  display: inline-block;
  margin-top: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  transition: background-color 0.2s;
}

.entry-delete {
  margin-top: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #b22222;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.entry-delete:hover {
  background-color: #8b1a1a;
}