main {
  padding-inline: 128px; 
}

ul {
  list-style-type: none;
  padding: 0;
}

.manga-list-header {
  padding: 12px 16px;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.manga-entry {
  padding: 12px 16px;
  background-color: var(--secondary-bg-color);
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;

  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    background-color: #2a2a2a;
  }
}

.manga-list-header, .manga-entry {
  & > *:first-child {
    flex: 3;
  }

  & > *:nth-child(2) {
    flex: 1;
  }

  & > *:nth-child(3) {
    flex: 1.5;
  }

  & > *:nth-child(4) {
    flex: 1.5;
  }

  & > *:last-child {
    flex: 1.5;

    text-align: center;
    justify-content: center;
    gap: 12px;
  }
}

.actions {
  display: flex;

  & > a:nth-child(2),
  & > form:nth-child(3) > button {
    width: 32px;
    height: 32px;
    color: inherit;
    background-color: black;
    border: none;
    text-decoration: none;
    align-content: center;
    cursor: pointer;
  }

  & > a:nth-child(2):hover {
    background-color: #333333;
  }

  & > form:nth-child(3) > button:hover {
    background-color: #660000;
  }
}