.container {
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  & > p:first-child {
    flex: 1;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
  }

  & > p:last-child {
    flex-shrink: 0;
    align-self: end;
  }
}