main > h1 {
  margin: 8px 0 12px 24px;
}

.dates-selections {
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 3px solid #fff;

  display: flex;
  flex-direction: row;
  gap: 32px;
}

.staff-roles-filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.assigned-staff-roles {
  width: 100%; 
  & > li {
    padding: 16px 32px;
    background-color: #2c2c2c;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
}

.assigned-genres {
  width: 100%;
  background-color: #2c2c2c;
  border-radius: 16px;
  padding: 16px 32px;
  min-height: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;

  &:empty {
    padding: 0;
  }

  & > li {
    padding-block: 8px;
    padding-inline: 16px 12px;
    background-color: #3c3c3c;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    & > button {
      width: 24px;
      height: 24px;
      text-align: center;
      border: none;
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}