.staff-list-title {
  padding: 24px 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & > a {
    padding: 8px 16px;
    color: var(--primary-text-color);
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    border: 2px solid var(--primary-text-color);
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;

    &:hover {
      background-color: var(--primary-text-color);
      color: var(--primary-bg-color);
    }
  }
}

.staff-list-header {
  padding: 12px 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.staff-member {
  padding: 12px 16px;
  background-color: var(--secondary-bg-color);
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background-color: #2a2a2a;
  }
}

.staff-list-header,
.staff-member {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > *:first-child {
    flex:1;
  }

  & > *:nth-child(2) {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.actions {
  gap: 12px;

  & > a,
  & > form > button {
    width: 32px;
    height: 32px;
    background-color: black;
    color: var(--primary-text-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    text-decoration: none;
    align-content: center;
    text-align: center;
  }

  & > a:nth-child(2):hover {
    background-color: #333;
  }

  & > form:nth-child(3) > button:hover {
    background-color: #b30000;
  }
}