main {
  align-content: center;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-inline: auto;
  width: 300px;
  position: relative;
}

.form {
  display: none;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;

  padding: 16px;
  background-color: var(--bg-secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  width: 100%;

  &.displayed {
    display: flex;
  }

  & > h1 {
    align-self: center;
    margin-bottom: 1rem;
  }
}

.form > .actions {
  display: flex;
  justify-content: space-between;

  margin-top: 12px;

  & > button {
    cursor: pointer;
    border: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }

  & > button[type="button"] {
    background: none;
    border: none;
    color: var(--font-color-blue);
    padding: 0;
    font-size: 0.9rem;

    &:hover {
      text-decoration: underline;
      color: var(--font-color-blue-muted);
    }
  }

  & > button[type="submit"] {
    background-color: var(--font-color-green);
    color: var(--font-color);
    padding: 6px 12px;
    border-radius: 4px;

    &:hover {
      background-color: var(--font-color-green-muted);
    }
  }
}

.form-group {
  display: flex;
  row-gap: 4px;
  flex-wrap: wrap;

  & > label {
    flex: 0 0 150px;
    & > span {
      font-size: 1.2em;
      color: var(--font-color-red);
    }
  }
  & > input {
    flex: 1;

    background-color: var(--bg-primary-color);
    border-radius: 4px;
    border: 1px solid var(--border-color);
    padding: 4px 8px;
  }
}

@media (min-width: 768px) {
  main {
    align-content: unset;
  }
  
  .auth-container {
    margin-top: 100px;
    width: 500px;
  }

  .form-group {

    & > label {
      flex: 0 0 150px;
    }
  }
}