dialog {
  padding: 0;

  & > div {
    padding: 16px;
  }
}

#table {
  border-spacing: 0 16px;
  border-radius: 12px;
  border: 1px solid var(--border-color);
  overflow: hidden;
}

#table-header {
  display: flex;
  font-weight: bold;
}

.entry {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;

  padding: 12px 16px;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-secondary-color);
  grid-template-areas:
    "n name menu"
    "n date menu";

  &:last-child {
    border-bottom: unset;
  }

  &:hover {
    background-color: var(--bg-tertiary-color);
  }
  
  & > span:first-child {
    grid-area: n;
    background-color: var(--bg-tertiary-color);
    padding: 6px;
    border-radius: 6px;
  }
  & > span:nth-child(2) {
    grid-area: name;
    justify-self: start;
    margin-left: 8px;
  }
  & > span:nth-child(3) {
    grid-area: menu;

    & > button {
      border: none;
      background-color: transparent;
    }
  }
  & > span:nth-child(4) {
    grid-area: date;
    justify-self: start;
    margin-left: 8px;
    color: var(--font-color-muted);
    font-size: 0.8em;
  }
}

#table-header {
  display: none;
}

#menu {
  display: none;
  flex-direction: column;
  gap: 8px;
  
  position: fixed;
  transform: translate(-10px, -10px);

  min-width: 120px;
  padding: 6px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  background-color: var(--bg-primary-color);

  &.opened {
    display: flex;
  }

  & button, a {
    text-decoration: none;
    padding: 4px 8px;
    border: none;
    display: block;
    width: 100%;
    text-align: left;
    border-radius: 6px;

    &:hover {
      background-color: var(--bg-secondary-color);
    }
  }
}