.header {
  background-color: var(--secondary-bg-color);
  padding: 8px 16px;
  font-size: 1.5rem;
  width: 100%;
  position: fixed;
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main {
  padding-top: 52px;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: var(--secondary-bg-color);
  padding: 8px 16px;

  & > div:first-child {
    margin-block: 1.5rem 3rem;
    padding-inline: 3rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 1rem;
    row-gap: 2rem;

    & > * {
      flex: 1;

      & h4 {
        font-size: 1.25rem;
      }

      & > * {
        margin-bottom: 8px;
      }

      & > *:last-child {
        margin-bottom: 0;
      }
    }
  }

  & > div:last-child {
    text-align: center;
    border-top: 1px solid #9f9f9f;
    padding-block: 1rem;
    margin-inline: 1rem;
  }
}