.header {
  padding: 8px 16px;
  border-bottom: 1px solid black;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main {
  text-align: center;
  align-content: center;
}