/* styles.css */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* start */

:root {
  scrollbar-width: thin;
}

#root {
  min-height: 100dvh;

  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto 1fr;

  & > * {
    border: 1px solid black; /* debug section borders */
  }
}

header {
  grid-column: 1 / -1;

  padding: 4px 16px;

  display: flex;
  justify-content: center;
}

#root > section {
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* general-info */

.form > .general-info {
  padding: 8px 32px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 8px;
}

/* educational-exp */

.form > .educational-exp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 8px;

  & > button {
    align-self: center;
    margin-bottom: 8px;
  }
}





/* curriculum */

.curriculum {
  padding: 48px 96px;
}

.curriculum-page {
  padding: 16px 32px;
  outline: 1px solid black;
  aspect-ratio: 1 / 1.4142;

  display: flex;
  flex-direction: column;
  align-items: center;

  & > .full-name {
    text-align: center;
  }
}

.curriculum-page > .general-info {
  margin-bottom: 16px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
}

.curriculum-page > .educational-exp {
  width: 100%;
}