/* styles.css */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* start */

input {
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  transition: outline 50ms ease;
  
  &:focus {
    outline: 2px solid white;
  }
}

.separator {
  border: 1px solid white;
  margin-inline: 1rem;
  margin-block: 1rem;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('./assets/fonts/Baloo2-Regular.woff2') format('woff2'),
      url('./assets/fonts/Baloo2-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Baloo 2';
  scrollbar-width: thin;
  background-color: #181818;
  color: white;

  --primary-btn-bg-color: #e8e8e8;
  --hover-primary-btn-bg-color: #d8d8d8;
}

#root {
  height: 100dvh;

  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto 1fr;
}

header {
  grid-column: 1 / -1;

  padding: 4px 16px;
  border-bottom: 1px solid #2f2f2f;
  box-shadow: 12px 0 12px #0f0f0f;

  display: flex;
  justify-content: center;
}

#root > section {
  overflow-y: auto;
  scrollbar-width: thin;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block: 2rem;
  direction: rtl;

  & > * {
    direction: ltr;
  }
}

/* general-info */

.form > .general-info > div {
  padding: 0 16px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 8px;
}


/* educational-exp */

.form > .educational-exp > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 8px;

  & > button {
    align-self: center;
    background-color: var(--primary-btn-bg-color);
    border: none;
    border-radius: 8px;
    transition: background-color 250ms ease-in-out;

    &:hover {
      background-color: var(--hover-primary-btn-bg-color);
    }
  }
}

/* work-exp */

.work-exp > div {
  display: flex;
  flex-direction: column;
  gap: 8px;

  & > button {
    align-self: center;
    background-color: var(--primary-btn-bg-color);
    border: none;
    border-radius: 8px;
    transition: background-color 250ms ease-in-out;

    &:hover {
      background-color: var(--hover-primary-btn-bg-color);
    }
  }
}

/* technical-skills */

.form > .technical-skills > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* other-skills */

.form > .other-skills > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions {
  margin-top: 4px;

  display: flex;
  gap: 1rem;

  & > button {
    background-color: var(--primary-btn-bg-color);
    border: none;
    border-radius: 8px;
    transition: background-color 100ms ease;

    &:hover {
      background-color: var(--hover-primary-btn-bg-color);
    }
  }
}





/* curriculum */

.curriculum {
  padding: 48px 80px;
}

.curriculum-page {
  background-color: white;
  color: #181818;
  font-family: Helvetica, sans-serif;
  padding: 16px 32px;
  outline: 1px solid black;
  aspect-ratio: 1 / 1.4142;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: star;

  & > .full-name {
    text-align: center;
  }
}

.curriculum-page > .general-info {
  margin-bottom: 16px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
}

.curriculum-page > .educational-exp {
  width: 100%;
}

.curriculum-page > .technical-skills,
.curriculum-page > .other-skills {
  & > ul {
    padding: 0 16px;
    list-style: none;
  }
}