*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

a {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Layout */

:root {
  --bg-color: #1f1f1f;
  --secondary-bg-color: #080808;
}

#root {
  min-height: 100dvh;
  background-color: var(--bg-color);
  color: white;

  display: grid;
  grid-template-rows: 1fr auto;
}