/* styles.css */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* start */

:root {
  --fnt-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --primary-bg-color: #101010;
  --fnt-color: #f0f0f0;
  --brd-color: #fff;

  --cell-bg-color: #222;
  --cell-bg-color-hover: #444;
}

html {
  scrollbar-width: none;
}

body {
  background-color: var(--primary-bg-color, #000);
  color: var(--fnt-color, #fff);
  font-family: var(--fnt-family);
  min-height: 100dvh;
  min-width: 100dvw;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

header {
  padding: 1em 1.5em;
  font-size: clamp(0.2rem, 1vw, 5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding-block: 8px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
}

main > table {
  border: 2px solid var(--brd-color, #fff);
  height: 100%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0;
}

main > table button {
  border-radius: 0;
  border: 1px solid var(--brd-color, #555);
  background-color: var(--cell-bg-color, #222);
}

main > table button:hover {
  background-color: var(--cell-bg-color-hover, #444);
}

.ship-cell {
  background: navy;
}

section.actions {
  padding: 0.75em 1.5em;

  display: flex;
  justify-content: center;
}

section.actions > button {
  padding: 0.5em 1em;
  font-size: clamp(0.5rem, 1vw, 2rem);
  width: fit-content;
  cursor: pointer;
}

@media (max-width: 900px) {
  body {
    grid-template-rows: auto 1fr;
  }
  main {
    padding-block: 4px;
    gap: 4%;
  }
  main > div {
    height: 100%;
  }
}