.container { 
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.hero {
  margin-inline: 10rem;
  padding-block: 4rem;

  & > *:first-child {
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  & > *:nth-child(2) {
    width: 40%;
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  & > *:last-child {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border: 2px solid white;
    border-radius: 24px;
    background-color: #fff;
    color: black;

    &:visited, &:link {
      text-decoration: none;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.imageGrid {
  margin-bottom: 2rem;
  padding: 6dvw 2dvw;
  border-radius: 64px;
  background-color: var(--secondary-bg-color);

  display: grid;
  grid-template-columns: repeat(4, 20dvw);
  grid-template-rows: repeat(5, 20dvw);
  justify-content: center;
  gap: 3rem;

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  & > div {
    border: 1px solid black;

    &:hover {
      box-shadow: 0 0 12px white;
    }
  }

  & > div:first-child {
    grid-column: 1 / 4;
  }

  & > div:nth-child(2) {
    grid-column: 4;
    grid-row: 1 / 3;
  }

  & > div:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  & > div:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  & > div:nth-child(5) {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  & > div:nth-child(6) {
    grid-column: 2;
    grid-row: 3 / 5;
  }

  & > div:nth-child(7) {
    grid-column: 4;
    grid-row: 3;
  }

  & > div:nth-child(8) {
    grid-column: 1;
    grid-row: 4 / -1;
  }

  & > div:nth-child(9) {
    grid-column: 3 / -1;
    grid-row: 4;
  }

  & > div:last-child {
    grid-column: 2 / -1;
    grid-row: 5;
  }
}